h1 {
  font-family: roboto, monospace;
  font-size: 45px;
  color: #0f370e;
  margin-left: 54px;
}

.pokemon-list {
  list-style-type: none;
  font-family: roboto, monospace;
  min-width: 30%;
  text-align: left;
}

button {
  font-size: 30px;
  color: #30622f;
  background-color: white;
  margin: 10px;
  border: 0 solid;
  border-radius: 5px;
}

button:hover {
  font-size: 32px;
  background-color: #e5ffe1;
  transition-duration: 300ms;
  cursor: pointer;
}
